@import "tailwindcss";


.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.scroll-indicator {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.flex-center {
  @apply flex items-center justify-center min-h-screen px-8 md:px-15
}